<p>Signup</p>
<form>
  <div class="input-group">
    <span class="fa-solid fa-envelope"></span>
    <input type="text" placeholder="Email" id="email">
  </div>

  <div class="input-group">
    <span class="fa-solid fa-lock"></span>
    <input type="password" placeholder="Password" id="password">
  </div>

  <div class="input-group">
    <span class="fa-solid fa-lock"></span>
    <input type="password" placeholder="Confirm Password" id="confirmPassword">
  </div>
  <button type="submit">Signup</button>
  <p class="form-footer">Already have an account? <a routerLink="/login">Login</a></p>
</form>
